/**
 * helpers
 */
.l-horizontal-list	{
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		float: left;
	}

	.sub-menu {
		display: none;

		li {
			float: none;
			list-style: none;
			margin: 0;
		}
	}
}




/*
 * Main layout
*/

.l-outer {
	width: 100%;
}

.l-inner {
	max-width: $max-px-width;
	margin: 0 auto;
}

// header

.l-main-header-outer {
	background-color: $blue;
}

.l-main-header {
	position: relative;
	z-index: 100;
	padding: em(27) per(34) em(20) per(32);
}

.l-main-nav {
	position: absolute;
	top: 100%;
	z-index: 90;
	margin-left: per(42);
}

.menu-item-has-children {
	position: relative;

	&:after {
		position: absolute;
		right: 9px;
		top: 50%;
		width: 0; 
		height: 0;
		margin-top: 3px;
		content: ' ';
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid $blue;
	}

	&:hover {
		background-color: $beige;
		.sub-menu {
			display: block;

			.sub-menu {
				display: none;
			}
		}
	}
}

.menu-item-171 {
	& > .sub-menu {
		width: 345px;
	}
}

// hero carousel

.l-hero-con {
	width: 100;
}

.l-hero {
	max-width: $max-px-width;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}