/**
 * helpers
 */
.l-horizontal-list	{
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		float: left;
	}

	.sub-menu {
		display: none;

		li {
			float: none;
			list-style: none;
			margin: 0;
		}
	}
}




/*
 * Main layout
*/

.l-outer {
	width: 100%;
}

.l-inner {
	max-width: $max-px-width;
	margin: 0 auto;
}

// header

.l-main-header-outer {
	background-color: $blue;
}

.l-main-header {
	position: relative;
	z-index: 1200;
	padding: em(27) per(34) em(20) per(32);
}

.l-language-toggle {
	clear: both;
	text-align: right;
}

.l-nav-search-con {
	width: 100%;
	position: absolute;
	top: 100%;
	z-index: 1200;
}

.l-main-nav {
	// position: absolute;
	// top: 100%;
	// z-index: 1200;
	float: left;
	padding-left: per(42);
}

@media (max-width: 1150px) {
	.l-main-nav {
		padding-left: 0;
	}
}

.l-search {
	// position: absolute;
	// right: 87px;
	// top: 100%;
	float: left;
	// width: per(160);
	text-align: left;
	padding-top: 1em;
	padding-left: .5em;
}

.menu-item-has-children {
	position: relative;

	&:after {
		position: absolute;
		right: 9px;
		top: 50%;
		width: 0; 
		height: 0;
		margin-top: 3px;
		content: ' ';
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid $blue;
	}
	
	&:hover,
	&.is-open {
		background-color: $beige;
		> .sub-menu {
			display: block;
			z-index: 991;
		}
	}

	&#menu-item-176 {
		&:after {
			left: 116px;
			top: 50%;
			right: auto;
			margin-top: -5px;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-left: 5px solid $blue;
		}
	}
}



.menu-item-171 {
	& > .sub-menu {
		width: 375px;
	}
}

.menu-item-161 {
	& > .sub-menu {
		width: 215px;
	}
}

.menu-item-176 {
	& > .sub-menu {
		width: 365px;
	}
}

// atty image drop down
.menu-item-165 {
	& > .sub-menu {
		width: 732px;
		padding: 13px 16px 0;
		li {
			width: 140px;
			padding: 8px;
			float: left;
			border: none;

			img {
				padding: 0 !important;
			}

			&:hover {
				padding-left: 8px;
			}

			a {
				font-size: 10px;
				font-family: Arial, Helvetica, sans-serif;
				letter-spacing: 0;
			}
		}

		// forces a second row
		.menu-item-167 {
			margin-right: 10px;
		}
	}

}





// hero carousel

.l-hero-con {
	padding-top: em(54);
}

.l-hero {
	max-width: $max-px-width;
	margin: 0 auto;
}

.edwards-slide {
	position: relative;
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

.l-text-overlay {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-bottom: em(60);
}

/**
 * footer
 */

 .l-main-footer-con {
 	background: #e7e7d2;
 }

 .l-main-footer {
 	padding: em(30) 0 4em per(75);
 }

 .l-footer-col {
 	width: per(235);
 	float: left;
 }

 .l-footer-addy {
 	width: per(250);
 }

 .l-copyright {
	width: per(270);
 }

 .l-copyright,
 .l-footer-links {
 	padding-top: 1.125em;
 }

 .l-trust-link {
 	margin-top: em(18);
 }

/**
 * Contact CTA
 */

.l-contact-form-cta {
	padding: em(70) 0 1.5em;
}

.l-contact-cta-col {
	float: left;

	&.l-left {
		width: per(471);
		padding: 0 per(80) 0 per(68);
	}

	&.l-right {
		width: per(530);
	}

}

// single view blog variation
.l-blog-contact-cta-col {
	&.l-left {
		width: per(600);
		padding: 0 0 0 per(68);
	}

	&.l-right {
		width: 500px;
		padding: em(120) 0 0 per(108)
	}
}

// blog landing page
.l-blog-landing-single-post {
	border-bottom: 1px solid $gray;
}
.l-blog-landing-single-post-content-col {
	float: left;
	width: per(680, 1047);
}

.l-blog-landing-featured-image {
	float: right;
	width: per(320, 1047);
	padding-top: em(47);

	img {
		max-width: 100%;
		height: auto;
	}
}

.l-post-social-media-likes-con {
	clear: both;
	padding-bottom: 2em;

	li {
		width: 110px;
		span {
			vertical-align: top !important;
		}
	}
}

.l-blog-landing-dual-post {
	padding-top: 2.25em;
	border-bottom: 1px solid $gray;
}

.l-blog-landing-dual-post-col {
	width: per(480, 1047);

	&.l-left {
		float: left;
	}

	&.l-right {
		float: right;
	}
}

/**
 * CTA icon columns
 */

.l-cta-icons-con {
	padding: 1.25em 0 0;
	text-align: center;
	background-color: $light-blue;
}

.l-cta-icon-col {
	float: left;
	width: per(270, 1040);
	margin-left: per(115, 1040);

	&:first-child {
		margin-left: 0;
	}
}

.l-cta-icons-wrapper {
	width: per(1043);
	padding: 2.5em 0 2em;
	display: inline-block;
	clear: both;
}


/**
 * homepage middle content
 */

.l-home-middle-section-con {
	background: $beige;
}

.l-home-middle-section {
	padding: em(75) 0 em(54);	
}

.l-home-middle-section-col {
	float: left;

	&.l-left {
		width: per(350);
		padding: 1em em(30);
		text-align: right;
		border-right: 1px solid $gray;
	}

	&.l-right {
		width: per(670);
		padding: 1em 0 1em 2em;
	}
}

// general content
.l-general-content,
.l-single-col-content {
	padding: em(105) per(65) 0;

	&.l-interior-section {
		padding-top: em(50);
	}
}


// contact page
.l-contact-details-col {
	width: per(430, 1047);
	float: left;
}

.l-contact-map-col {
	float: left;
}

.l-contact-page-form-con {
	width: per(530, 1047);
	padding-bottom: em(80);
}

// firm awards section

.l-firm-awards-con {
	background-color: $light-blue;
}

.l-firm-awards {
	padding: 2em per(65) 4em;
}


.l-firm-awards-col {
	float: left;

	&.l-left {
		width: 30%;
		padding-left: per(18);
	}

	&.l-right {
		width: 69%;
		padding-left: per(30, 1070);
		// padding-top: 1.5em;
	}
}

.l-wrapper-center {
	text-align: center;
}

.l-firm-awards .l-wrapper-center {
	margin-bottom: 4em;
}


// attorney landing

.l-atty {
	padding: 2em 0 em(81);
	text-align: center;
}

.l-atty-header {
	padding: 0 per(65);
	text-align: left;
}

// attorney single

.l-attorney-page {
	padding: em(105) per(65) em(30);
}

.l-attorney-main {
	width: per(700, 1070);
	float: left;
}

.l-attorney-secondary {
	width: per(304, 1070);
	float: right;
	text-align: center;
	
	img {
		max-width: 100%;
		height: auto;
	}
}

// practice area -- single view
.l-practice-area-single {
	
	.l-image-cta-box {
		float: right;
		margin: 0 0 2em 2em;
	}

	.cta-how-help-btn {
		float: right;
		margin: -1.75em 1em 0 0;
	}

}

// practice area -- landing view

.l-practice-entry {
	margin-bottom: 2.25em;
}

.l-practice-entry-img-col {
	float: left;
	width: per(123, 1070);
	margin-right: per(35, 1070);

	img {
		max-width: 100%;
		height: auto;
	}
}

.l-practice-entry-content-col {
	float: left;
	width: per(850, 1070);
}

.l-case-resuslts-listing {
	padding: 1em per(105) 0 per(65);
}

.l-case-btn-con {
	padding: em(12) 0 0;
}

.l-case-result-listing-case {
	padding: em(30) 0;
	border-bottom: 1px solid $gray;
}

.l-case-result-listing-cases {
	display: none;
}

// video page-break-inside: 
.l-video-main-container {
	padding: em(105) per(40) 0 per(40);
}


// blog landing page
.l-blog-landing {
	padding: em(105) per(65) 0;
}

// awards and honors
.l-awards-and-honors-con {
	padding-right: per(90);
}

.l-awards-row {
	clear: both;
	margin-bottom: 1.25em;
}

.l-awards-image-col {
	float: left;
	width: per(300);
	padding-right: per(55);
}

.l-awards-content-col {
	float: left;
	width: per(740);
}

// staff members

.l-staff-member-entry {
	margin-bottom: 2em;
}

