/**
 * helpers
 */
.l-horizontal-list	{
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		float: left;
	}

	.sub-menu {
		display: none;

		li {
			float: none;
			list-style: none;
			margin: 0;
		}
	}
}




/*
 * Main layout
*/

.l-outer {
	width: 100%;
}

.l-inner {
	max-width: $max-px-width;
	margin: 0 auto;
}

// header

.l-main-header-outer {
	background-color: $blue;
}

.l-main-header {
	position: relative;
	z-index: 100;
	padding: em(27) per(34) em(20) per(32);
}

.l-language-toggle {
	clear: both;
	text-align: right;
}

.l-main-nav {
	position: absolute;
	top: 100%;
	z-index: 90;
	margin-left: per(42);
}

.menu-item-has-children {
	position: relative;

	&:after {
		position: absolute;
		right: 9px;
		top: 50%;
		width: 0; 
		height: 0;
		margin-top: 3px;
		content: ' ';
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid $blue;
	}

	&:hover {
		background-color: $beige;
		.sub-menu {
			display: block;

			.sub-menu {
				display: none;
			}
		}
	}
}

.menu-item-171 {
	& > .sub-menu {
		width: 345px;
	}
}

// hero carousel

.l-hero-con {
	width: 100;
}

.l-hero {
	max-width: $max-px-width;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

/**
 * footer
 */

 .l-main-footer-con {
 	background: $beige;
 }

 .l-main-footer {
 	padding: em(30) 0 4em per(75);
 }

 .l-footer-col {
 	width: per(235);
 	float: left;
 }

 .l-footer-addy {
 	width: per(250);
 }

 .l-copyright {
	width: per(270);
 }

 .l-trust-link {
 	margin-top: em(18);
 }

/**
 * Contact CTA
 */

.l-contact-form-cta {
	padding: em(81) 0 0;
}

.l-contact-cta-col {
	float: left;

	&.l-left {
		width: per(471);
		padding: 0 per(80) 0 per(68);
	}

	&.l-right {
		width: per(530);
	}

}

/**
 * CTA icon columns
 */

.l-cta-icons-con {
	padding: 2em 0 0;
	text-align: center;
	background-color: $light-blue;
}

.l-cta-icon-col {
	float: left;
	width: per(270, 1040);
	margin-left: per(115, 1040);

	&:first-child {
		margin-left: 0;
	}
}

.l-cta-icons-wrapper {
	width: per(1043);
	padding: 2em 0 2em;
	display: inline-block;
	clear: both;
}


/**
 * homepage middle content
 */

.l-home-middle-section-con {
	background: $beige;
}

.l-home-middle-section {
	padding: em(75) 0 em(54);	
}

.l-home-middle-section-col {
	float: left;

	&.l-left {
		width: per(350);
		padding: 1em em(30);
		text-align: right;
		border-right: 1px solid $gray;
	}

	&.l-right {
		width: per(670);
		padding: 1em 0 1em 2em;
	}
}

// general content
.l-general-content,
.l-single-col-content {
	padding: em(105) per(65) 0;
}

// firm awards section

.l-firm-awards-con {
	background-color: $light-blue;
}

.l-firm-awards {
	padding: 2em per(65) 4em;
}


.l-firm-awards-col {
	float: left;

	&.l-left {
		width: per(421, 1070);
		padding-left: per(18);
	}

	&.l-right {
		width: per(580, 1070);
		padding-left: per(30, 1070);
		padding-top: 1.5em;
	}
}

.l-wrapper-center {
	text-align: center;
}

.l-firm-awards .l-wrapper-center {
	margin-bottom: 4em;
}


// attorney landing

.l-atty {
	padding: em(105) 0 em(81);
	text-align: center;
}

.l-atty-header {
	padding: 0 per(65);
	text-align: left;
}

// attorney single

.l-attorney-page {
	padding: em(105) per(65) em(30);
}

.l-attorney-main {
	width: per(700, 1070);
	float: left;
}

.l-attorney-secondary {
	width: per(304, 1070);
	float: right;
	text-align: center;
	
	img {
		max-width: 100%;
		height: auto;
	}
}

// practice area -- single view
.l-practice-area-single {
	
	.l-image-cta-box {
		float: right;
		margin: 0 0 2em 2em;
	}

	.cta-how-help-btn {
		float: right;
		margin: -1.75em 1em 0 0;
	}

}

// practice area -- landing view

.l-practice-entry {
	margin-bottom: 2.25em;
}

.l-practice-entry-img-col {
	float: left;
	width: per(123, 1070);
	margin-right: per(35, 1070);

	img {
		max-width: 100%;
		height: auto;
	}
}

.l-practice-entry-content-col {
	float: left;
	width: per(850, 1070);
}

.l-case-resuslts-listing {
	padding: 1em per(105) 0 per(65);
}

.l-case-btn-con {
	padding: em(12) 0 0;
}

.l-case-result-listing-case {
	padding: em(30) 0;
	border-bottom: 1px solid $gray;
}

.l-case-result-listing-cases {
	display: none;
}