/* ==========================================================================
   Site Variables
   ========================================================================== */

/**
 * Dimensions
 */

$max-width: 1200;
$max-px-width: 1200px;


/**
 * functions
 */

$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function per($px, $context-width: $max-width) {
	@return $px / $context-width * 100%;
}


/**
 * colors
 */

$blue: #004e72;
$light-blue: #d9e5ea;
$white: #fff;
$red: #ab192d;
$beige: #e7e7d2;
$gray: #6d6e71;
$orange: #f28b00;
$body-color: $gray;
$main-font-folor: $gray;
$nav-item-gray: #58595b;

/**
 * fonts 
 */

$headline-family: 'Fredoka One', Arial, Helvetica, sans-serif;
$header-family: $headline-family;
$headline-weight: 400;

$body-family: Georgia, Times, "Times New Roman", serif;
$body-weight: 400;

body {
	font-family: $body-family;
	font-weight: $body-weight;
}


/**
 * Some defautls
 */
 
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box; 
}