/**
 * Attorney landing
 */

.l-atty-header h1 {
	margin-bottom: 1.25em;
	font-size: em(30);
	line-height: 1.1;
	font-weight: normal;
	color: $blue;
}

.atty-list {
	width: per(1090);
	display: inline-block;
	text-align: left;

	li {
		width: per(252, 1090);
		margin: 0 per(10) 10px;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	&.associate-list li {
		width: per(198, 1090);
	}

	a {
		font-family: $header-family;
		font-size: 1em;
		color: $red;
		text-transform: uppercase;
		text-decoration: none;
	}

	p {
		margin-bottom: .25em;
	}
}

.attorney-name {
	margin: .75em 0 .50em;
	font-size: em(18);
	line-height: 1;
	font-weight: normal;
}

.atty-section-title {
	@extend .subheading;
	color: $blue;
}
.partner-list {
	margin-bottom: 2em;
}

.atty-featured-image {
	float: right;
	max-width: 524px;
	padding-left: 48px;
	padding-bottom: 48px;

	img {
		max-width: 100%;
		height: auto;
	}
}

.atty-intro p {
	font-size: em(22, 18);
}

@media (max-width: $single-col) {
	.atty-featured-image {
		float: none;
		display: block;
		margin: 0 auto 2em;
		padding: 0;
	}

	.atty-list.associate-list,
	.atty-list {
		li {
			float: none;
			width: 100%;
			margin-bottom: 2em;		
		}
		
	}
}