/**
 * buttons
 */

.show-more {
	background: $orange;
	border: none;
	color: #fff;
	font-family: $header-family;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.attorney-contact-btn {
	display: block;
	width: 100%;
	max-width: 379px;
	margin: 5px 0;
	background-color: $orange;
	font-size: em(14);
	padding: .5em 0;
	text-align: center;
	font-family: $header-family;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.cta-how-help-btn {
	position: relative;
	padding: em(14, 24) em(50, 24) em(14, 24) em(14, 24);
	font-family: $header-family;
	color: #fff;
	font-size: em(24);
	line-height: 1;
	background: $red;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;

	&:after {
		content: " ";
		position: absolute;
		right: em(12, 24);
		top: em(17, 24);
		width: 0; 
		height: 0; 
		border-top: em(11, 24) solid transparent;
		border-bottom: em(11, 24) solid transparent;
		border-left: em(23, 24) solid #fff;
	}

	&.reverse-view {
		padding: em(14, 24) em(14, 24) em(14, 24) em(50, 24);

		&:after {
			content: none;
		}
		&:before {
			content: " ";
			position: absolute;
			left: em(12, 24);
			top: em(17, 24);
			width: 0; 
			height: 0; 
			border-top: em(11, 24) solid transparent;
			border-bottom: em(11, 24) solid transparent;
			border-right: em(23, 24) solid #fff;
		}
	}

	
}

.l-mobile-hero-cta .cta-how-help-btn,
.l-image-cta-box .cta-how-help-btn {
	
	@media (max-width: 	460px) {
		font-size: em(20);
	}

	@media (max-width: 	460px) {
		font-size: em(18);
	}

	@media (max-width: 	310px) {
		font-size: em(16);
	}
}

@media (max-width: $floor) {
	.cta-how-help-btn.show-big {
		display: none !important;
	}
}


.excerpt-more-link {
	padding-left: .5em;
	font-family: $header-family;
	font-size: em(16, 18);
	color: $red;
	text-transform: uppercase;
	text-decoration: none;
}

.result-entry-btn {
	display: inline-block;
	padding: .75em;
	margin-top: -.5em;
	margin-right: .5em;
	vertical-align: middle;
	font-family: $header-family;
	font-size: em(12, 22);
	line-height: 1;
	border: none;
	background: $orange;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;

	&:hover {
		background-color: $blue;
	}
}

.result-entry-close-btn {
	@extend .result-entry-btn;
	margin-top: 0;
	background-color: $blue;
	font-size: em(12);

	&:hover {
		background-color: $orange;
	}
}

.menu-toggle-btn {
	float: right;
	margin-top: 7px;
	border: 0;
	padding: 0;
	background: none;
	outline: none;
	cursor: pointer;

	@media (max-width: 530px) {	
		margin-top: 9px;

		img {
			width: 80%;
			height: auto;
		}
	}

	@media (max-width: 430px) {
		margin-top: 5px;

		img {
			width: 75%;
		}
	}

	@media (max-width: 380px) {
		margin-top: 5px;	

		img {
			width: 60%;
		}
	}

	@media (max-width: 310px) {
		margin-top: 3px;

		img {
			width: 50%;
		}
	}
}