/**
 * general content
 */

.entry-content {
	h1 {
		@extend .heading-main;

		@media (max-width: 380px) {
			font-size: 26px;
		}
	}

	h2,
	h3,
	h4
	h5,
	h6 {
		@extend .subheading;
	}

	.large-text {
		font-size: em(22, 18);
		@media (max-width: 380px) {
			font-size: 1em;
		}
	}

	p,
	li,
	blockquote {
		font-size: em(18);
		line-height: (32/ 18);
	}

	p {
		margin-bottom: em(32, 18);
	}

	ul,
	ol {
		@extend .inline-list;

		li {
			line-height: 1.4;
			margin-bottom: .75em;
		}
	}
}

.featured-image {
	float: right;
	padding: .75em 0 em(30) per(30);
	max-width: 100%;
	height: auto;

	@media (max-width: $single-col) {
		float: none;
		display: block;
		margin: 0 auto 2em;
		padding: 0;

		img {
			max-width: 100%;
			height: auto;
		}
	}
}


// privacy policy tweaks
.page-id-22 {
	.entry-content .blog-title{
		margin-bottom: .25em;
	}

	.entry-content h2 {
		margin-bottom: 0;
	}
}
