/**
 * general content
 */

.entry-content {
	h1 {
		@extend .heading-main;
	}

	h2,
	h3,
	h4
	h5,
	h6 {
		@extend .subheading;
	}

	.large-text {
		font-size: em(22, 18);
	}

	p,
	li,
	blockquote {
		font-size: em(18);
		line-height: (32/ 18);
	}

	p {
		margin-bottom: em(32, 18);
	}

	ul,
	ol {
		@extend .inline-list;

		li {
			line-height: 2.25;
		}
	}
}

.featured-image {
	float: right;
	padding: .75em 0 em(30) per(30);
	max-width: 100%;
	height: auto;
}


// privacy policy tweaks
.page-id-22 {
	.entry-content .blog-title{
		margin-bottom: .25em;
	}

	.entry-content h2 {
		margin-bottom: 0;
	}
}
