/**
 * general content
 */

.entry-content {
	h1 {
		margin-bottom: 1em;
		font-size: em(30);
		line-height: 1.1;
		font-weight: normal;
		color: $blue;
	}

	h2,
	h3,
	h4
	h5,
	h6 {
		margin-bottom: em(30, 22);
		font-size: em(22);
		line-height: 1.1;
		font-weight: normal;
		color: $blue;
	}

	.large-text {
		font-size: em(22, 18);
	}

	p,
	li,
	blockquote {
		font-size: em(18);
		line-height: (32/ 18);
	}

	p {
		margin-bottom: em(32, 18);
	}
}

.featured-image {
	float: right;
	padding: .75em 0 em(30) per(30);
}