/**
 * Home intro
 */

.home-intro {
	width: per(1020, 1200);
	padding: em(45) 0 em(40);
	text-align: center;
	margin: 0 auto;
}

.home-intro-heading {
	font-size: em(32);
	color: $blue;
	font-weight: normal;
	margin-bottom: em(20, 32);
}

.home-intro-copy {
	font-size: em(18);
	line-height: (32 / 18);
}


/**
 * Hero
 */

 .l-text-overlay {
 	h2 {
 		margin-bottom: em(40, 33);
 		color: #fff;
 		font-size: em(33);
 		line-height: 1;

 		@media (max-width: 500px) {
			font-size: em(26);
 		}

 		@media (max-width: 430px) {
			font-size: em(20);
 		}

 		@media (max-width: 315px) {
			font-size: em(16);
 		}

 		span {
 			display: block;
 			margin: 0 auto;
 			// font-size: em(50, 33);
 			font-size: 50 / 33 * 1em;
 			line-height: 1;

 			// @media (max-width: 500px) {
 			// 	font-size: em(44, 26);
	 		// }

	 		// @media (max-width: 430px) {
				// font-size: em(36, 20);	
	 		// }

	 		// @media (max-width: 315px) {
				// font-size: em(26, 16);
	 		// }
 		}
 	}
 }

 @media (max-width: $floor) {
 	.l-text-overlay {
		left: 0;
		width: 100%;
		padding-bottom: 0;

		h2 {
			margin-bottom: .5em;
		}
 	}

 	.slick-dots {
 		display: none !important;
 	}
 }