/**
 * video
 */

.video-main-container {
	h1,
	h2 {
		@extend .heading-main;	
		color: $blue;
	}

	li,
	p,
	blockquote {
		@extend .body-copy;
	}
}

.l-embed-con {
	width: 100%;
	max-width: 500px;
	margin: 0 per(24, 1048) em(48) 0;

	@media (max-width: $single-col) {
		position: relative; 
		padding-bottom: 56.25%; 
		height: 0; 
		overflow: hidden; 
		max-width: 100%; 
		height: auto; 

		iframe, 
		object, 
		embed { 
			position: absolute; 
			top: 0; 
			left: 0; 
			width: 100%; 
			height: 100%; 
		}
	}
}

@media (max-width: $single-col) {
	.l-embed-con.override-aspect-ratio {
		padding-bottom: 75%;
	}
}


